# Virtual environment
.venv/

# Python caches
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/

# IDE/editor configs
.vscode/
.idea/

# OS junk
.DS_Store
Thumbs.db

# Binaries you don’t want to bloat Git with
*.pdb
